{{#*inline "articleItem"}}
  <div class="col-xs-12 col-md-6">
    <a class="card-link" href="{{article.relative_url}}">
      <div id="article" class="card hvr-card">
        <div class="card-block">
          <h3 class="card-title">
            {{#if article.is_featured}}<i class="fa fa-star"></i> &#8203;{{/if}}
            {{~article.title}}
          </h3>
          <p class="card-text">{{article.description}}</p>
          <p class="card-text">
            {{#if article.author.profile_image}}
              <img class="img-fluid img-circle" src="{{article.author.profile_image}}">
            {{/if}}
            <span class="text-muted">
              {{i18n "updated" "Updated"}} {{article.updated_at_relative}}
            </span>
            {{#if article.author.name}}
              <span class="text-muted">
                {{i18n "by" "by"}}
                {{article.author.name}}
              </span>
            {{/if}}
          </p>
        </div>
      </div>
    </a>
  </div>
{{/inline}}

<div class="container-fluid">
  <div class="row">
    <div class="hidden-sm-down col-md-3 col-xl-2 left-col">
      {{> sidebar}}
    </div>
    <div class="col-xs-12 col-md-9 col-xl-10">
      <div id="category">
        <div id="meta" class="row">
          <div class="col-xs-10 offset-xs-1">
            <p id="breadcrumbs">
              <a href="{{fallback meta.home_path "/"}}">
                {{i18n "all_categories" "All Categories"}}
              </a>
              &#8203;>&#8203;
              {{> categoryBreadcrumbs}}
            </p>
          </div>
        </div>
        <div id="category-meta">
          <div class="text-xs-center">
            {{#if (hasPrefix category.icon "fa-")}}
              <div class="row">
                <div class="col-xs">
                  <i class="fa fa-3x {{category.icon}}"></i>
                </div>
              </div>
            {{else if (hasPrefix category.icon "http")}}
              <div class="row">
                <div class="col-xs">
                  <img class="fa card-icon" src="{{category.icon}}">
                </div>
              </div>
            {{/if}}
            <div class="row">
              <div class="col-xs">
                <h3 class="category-title">{{category.title}}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-xs">
                <p class="meta">
                  <small class="text-muted">
                    {{#if (gt category.meta.num_articles 0)}}
                      {{category.meta.num_articles}}
                      {{#if (eq category.meta.num_articles 1)}}
                        {{i18n "article" "article"}}
                      {{else}}
                        {{i18n "articles" "articles"}}
                      {{/if}}
                    {{/if}}
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="subcategories" class="row flex-row">
          {{#each (filterCategoriesByParentId meta.sidebar_categories category.category_id)}}
            <div class="col-xs-12 col-sm-6 col-md-4">
              <a class="card-link" href="{{this.relative_url}}">
                <div id="subcategory" class="card hvr-card">
                  <div class="card-block">
                    <div class="text-xs-center">
                      {{#if (hasPrefix this.icon "fa-")}}
                        <i class="fa fa-3x {{this.icon}}"></i>
                      {{else if (hasPrefix this.icon "http")}}
                        <img class="card-icon" src="{{this.icon}}">
                      {{/if}}
                      <h3 class="card-title">{{this.title}}</h3>
                      <p class="card-text">{{this.description}}</p>
                      {{#if (gt this.meta.num_authors 0)}}
                        <p class="card-text">
                          {{#if this.authors}}
                            {{#each this.authors}}
                              {{#if (lt @index 5)}}
                                {{#if this.profile_image}}
                                  <img class="img-fluid img-circle" src="{{this.profile_image}}">
                                {{/if}}
                              {{/if}}
                            {{/each}}
                          {{/if}}
                          <span class="text-muted">
                            {{#if (gt this.meta.num_articles 0)}}
                              {{this.meta.num_articles}}
                              {{#if (eq this.meta.num_articles 1)}}
                                {{i18n "article" "article"}}
                              {{else}}
                                {{i18n "articles" "articles"}}
                              {{/if}}
                            {{/if}}
                            {{#if (gt this.meta.num_authors 0)}}
                              {{i18n "by" "by"}}
                              {{this.meta.num_authors}}
                              {{#if (eq this.meta.num_authors 1)}}
                                {{i18n "author" "author"}}
                              {{else}}
                                {{i18n "authors" "authors"}}
                              {{/if}}
                            {{/if}}
                          </span>
                        </p>
                      {{/if}}
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {{/each}}
        </div>
        <div id="articles" class="row flex-row">
          {{#each category.articles}}
            {{#if this.is_featured}}
              {{> articleItem article=this}}
            {{/if}}
          {{/each}}
          {{#each category.articles}}
            {{#unless this.is_featured}}
              {{> articleItem article=this}}
            {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
